html{
	scroll-behavior: smooth;
}
#header {
    top:0px;
}
.nav-menu a {
    display: block;
    position: relative;
    color: #36343a;
    padding: 10px 15px;
    transition: 0.3s;
    font-size:16px;
    font-weight: 500;
    text-transform: capitalize;
    font-family: Century Gothic;
}
#header .form1{
	padding-left:30px;
}

.techinn{
	margin: 20px 0px;
}
.scrollinn button{
	background-color: transparent;
	border: none;
}

#header input {
    background: #e8e8e8!important;
    border: transparent;
	padding: 12px 10px;
    width: 140px;
    font-family: Century Gothic;
    height: 20px;
	position:inherit;
}
#header .search_icon {
    /* color: #a9a9a9; */
    color: #c5c5c5;
    font-size: 20px;
	margin-top:3px;
	padding-left:5px;
	position:absolute;
}
#header input::-webkit-input-placeholder {
  font-size:14px;
}
#header .logo img {
  padding: 0;
  margin-top:-20px;
  
}
.nav-menu, .nav-menu * {
    margin: 0;
    padding: 5px 0px 5px 5px;
    list-style: none;
}

.section-1 .carousel-control .glyphicon-chevron-left, .section-1 .fa-angle-left, .section-1 .carousel-control .icon-prev {
    position: absolute;
    top: 47.5%;
    z-index: 5;
    display: inline-block;
    margin-top: -10px;
    /* font-size: 45px; */
    /* background: #444545; */
    padding: 5px 10px;
    /* width: 50px; */
    /* height: 50px; */
    margin-left: -23px!important;
    /* line-height: 30px; */
    /* border-radius: 30px; */
}

.section-1 .carousel-control .glyphicon-chevron-right, .section-1 .fa-angle-right, .section-1 .carousel-control .icon-next {
    position: absolute;
    top: 47.5%;
    z-index: 5;
    display: inline-block;
    margin-top: -10px;
    /* font-size: 45px; */
    /* background: #444545; */
    padding: 5px 10px;
    /* width: 50px; */
    /* height: 50px; */
    margin-right:-30px!important;
    /* line-height: 30px; */
    /* border-radius: 30px; */
}

.carousel-indicators .active{background:#a7abaf;}
@-webkit-keyframes zoom {
  from {
    -webkit-transform: scale(1, 1);
  }
  to {
    -webkit-transform: scale(1.2, 1.2);
  }
}

@keyframes zoom {
  from {
    transform: scale(1, 1);
  }
  to {
    transform: scale(1.2, 1.2);
  }
}

.img-zoom{
  -webkit-animation: zoom 20s;
  animation: zoom 20s;
}

.carousel-control .glyphicon-chevron-right, .fa-angle-right, .carousel-control .icon-next {
    right:35%;
    margin-right: -10px;
}
.carousel-control .glyphicon-chevron-left, .fa-angle-left, .carousel-control .icon-next {
    left:35%;
    margin-left: -10px;
}
.carousel-control .glyphicon-chevron-right, .fa-angle-right, .carousel-control .icon-next{
    position: absolute;
    top:47.5%;
    z-index: 5;
    display: inline-block;
    margin-top: -10px;
    /* font-size: 45px; */
	background-color: #ffffff9c;
    /* background: #444545; */
    padding: 4px 16px;
	border-radius: 50%;
    /* width: 50px; */
    /* height: 50px; */
	margin-right: -64px;
	/* line-height: 30px; */
	/* border-radius: 30px; */
}

.carousel-control .glyphicon-chevron-left, .fa-angle-left, .carousel-control .icon-prev {
    position: absolute;
    top:47.5%;
    z-index: 5;
    display: inline-block;
    margin-top: -10px;
	background-color: #ffffff9c;
    /* font-size: 45px; */
    /* background: #444545; */
    padding: 4px 16px;
	border-radius: 50%;
    /* width: 50px; */
    /* height: 50px; */
	margin-left: -64px;
	/* line-height: 30px; */
	/* border-radius: 30px; */

}
.slider_block_section{
	list-style:none;
	display:inherit;
	margin-left:-113px;
	/*margin-top: 35px;*/
}
#carouselExampleInterval .carousel-caption {
    left: 11%!important;
    top: 0%!important;
    width: 1060px;
}
.slider_block_section li{
	float: left;
	padding:5px;
	display:inline-block;
}
.slider_block_section li img{
	width:300px;
}
.slider_block_section li.content_div{
	margin-top:80px;
	color:gray!important;
	font-weight:bold;
	font-size:20px;
	font-family:arial;
}
.slider_block_section li .slide_txt{
	color:#000!important;
	font-weight:bold;
	font-family:arial;
}
#carouselExampleInterval .carousel-caption {
	left: 11%!important;
	top: 0%!important;
}
#carouselExampleInterval_0 .carousel-caption {
	left: 11%!important;
}
/*======= media queries in css =======*/

/*////////////// XTRA SMALL DEVICES( mobile phones ) //////////////*/
@media (min-width: 300px) and (max-width: 479px){  
.carousel-control .glyphicon-chevron-left, .fa-angle-left, .carousel-control .glyphicon-chevron-right, .fa-angle-right, .carousel-control .icon-next, .carousel-control .icon-prev {
    position: absolute;
    top:40%;
    z-index: 5;
    display: inline-block;
    margin-top: -10px;
    font-size: 25px;
    padding: 10px;
    line-height: 10px;
}
.carousel-control .glyphicon-chevron-right, .fa-angle-right, .carousel-control .icon-next {
    right:30%;
    margin-right: -10px;
}
.carousel-control .glyphicon-chevron-left, .fa-angle-left, .carousel-control .icon-next {
    left:30%;
    margin-left: -10px;
}
.slider_block_section{
	margin-left:-80px;
	margin-top: 35px;
}
.fixed_btn{
    display:block!important;
}

  }

/*////////////// TAB OR LARGE MOBILE PHONE //////////////*/
@media (min-width: 768px) and (max-width: 991px){  
.carousel-control .glyphicon-chevron-left, .fa-angle-left, .carousel-control .glyphicon-chevron-right, .fa-angle-right, .carousel-control .icon-next, .carousel-control .icon-prev {
    position: absolute;
    top: 40%;
    z-index: 5;
    display: inline-block;
    margin-top: -10px;
    font-size: 35px;
    padding: 10px;
    line-height: 10px;
}
.carousel-control .glyphicon-chevron-right, .fa-angle-right, .carousel-control .icon-next {
    right:30%;
    margin-right: -10px;
}
.carousel-control .glyphicon-chevron-left, .fa-angle-left, .carousel-control .icon-next {
    left:30%;
    margin-left: -10px;
}
.slider_block_section{
	margin-left:-80px;
	margin-top: 35px;
}
  }
@media (max-width: 768px){
	.crossfade{
		padding-top:65px;
	}
	.slider_block_section {
		list-style: none;
		display: inherit;
		margin-left: -80px;
		margin-top: -5px;
	}
	.slider_block_section li{
		float:left;
		padding:5px;
		display:inline-block;
	}
	.slider_block_section li img{
		width:300px;
	}
	.slider_block_section li.content_div{
		margin-top:60px;
		color:#333;
		font-size:13px;
	}
	.carousel-control .glyphicon-chevron-right, .fa-angle-right, .carousel-control .icon-next {
    right:10%;
    margin-right: -10px;
	}
	.carousel-control .glyphicon-chevron-left, .fa-angle-left, .carousel-control .icon-next {
		left:10%;
		margin-left: -10px;
	}
}
/*////////////// MEDIUM DEVICES LAPTOPS //////////////*/
@media (min-width: 992px) and (max-width: 1199px){  
.carousel-control .glyphicon-chevron-left, .fa-angle-left, .carousel-control .glyphicon-chevron-right, .fa-angle-right, .carousel-control .icon-next, .carousel-control .icon-prev {
    position: absolute;
    top: 40%;
    z-index: 5;
    display: inline-block;
    margin-top: -10px;
    font-size: 45px;
    padding: 10px;
    line-height:20px;
}
.carousel-control .glyphicon-chevron-right, .fa-angle-right, .carousel-control .icon-next {
    right:10%;
    margin-right: -10px;
}
.carousel-control .glyphicon-chevron-left, .fa-angle-left, .carousel-control .icon-next {
    left:10%;
    margin-left: -10px;
}
.slider_block_section {
    margin-left: -80px;
    margin-top:-30px;
}
.slider_block_section li.content_div {
    margin-top: 75px;
    color: #333;
    font-size: 14px;
}
  }


.carousel:hover .carousel-control {
  display: block;
}
.carousel-indicators li{
	border:none;
}
/* slider css end here */
.about{

	padding:0;
	background:#f6f6f6a6;
	display: none;
}


.padof{
  padding-left: 26px;
}

.texton2{
	padding-left: 60px !important;
}

.infoon11{
	display: none;
}

.info-btn11{
	display: none;
}


.gpin{
	margin-left: 0px;
}

@media(min-width:300px) and (max-width:500px){
	.about{
		display: block;
	}

	.gpin{
		margin-left:4px;
	}

	.ppgg{
		margin-top: 10px;
	}

	.bbtt{
		font-size: 14px !important;
		padding-top: 10px !important;
	}

	.ttpin{
		margin-top: 0px !important;
	}

	.info-btn11{
		display: inline !important;
		background: orange;
		color: black;
		padding: 5px 12px;
		border-radius: 5px;
	}

	.infoon11{
		margin-top: 5px !important;
	}

	.tab-pane .col-md-3 {
		padding-left: 15px !important;
	}

	.texton2 {
		padding-left: 30px !important;
	}
	.modal-content{
		padding: 0px !important;
	}
	.modal-header{
		padding: 0px !important;
	}
	.mobin{
		padding-top: 50px !important;
	}

	#sec-co .carousel-control .glyphicon-chevron-right, .fa-angle-right, .carousel-control .icon-next {
		right: 60% !important;
		margin-right: -20px;
	}
    .arrow22 img {
		width: 18px !important;
	}
	.arrow11 img {
		width: 17px !important;
	}
	.button-index {
		z-index: 3;
		align-items: flex-end;
		height: 97%;
		display: flex;
		width: 9% !important;
	}
	.orangeryt img {
		width: 40px !important;
		top: 86% !important;
		background-color: transparent !important;
		border-radius: 0px !important;
	}
	.textzz {
		display: block;
		text-align:left;
		font-size: 10px !important;
		padding-left: 0px;
	}

	.padof{
		padding-left: 0px !important;
	}

	#cubetab button {
		margin:0px !important;
		width: 85px !important;
		margin-right: 12px !important;
		height: 50px;
		border: 1px solid #a7abaf;
	}

	.slider_block_section_0 li.content_div {
		margin-top: 25px;
		color: gray!important;
		font-weight: bold;
		line-height: 12px;
		font-size: 10px;
		font-family: arial;
		display: none;
	}

	.dropdown ul {
		display: none !important;
	}
	.row_main1 {
		padding: 0px 0px !important;
	}

	.topzin{
		margin-top: 25px;
	}

	.popin{
		padding-top: 20px;
	}

	.btn33{
		padding-top: 0px;
	}

	.c511in {
		font-size: 18px !important;
		padding-top: 10px !important;
	}

	.lowin {
		margin-top: 15px !important;
	}

	.mobile-nav a {
		display: block;
		font-size: 16px !important;
		position: relative;
		color: #929294;
		padding:5px 20px;
		font-weight: 300;
		outline: none;
	}

	#sec-co .container {
		background-color: white;
		padding: 20px 30px !important;
		margin-top: 50px !important;
		padding-top: 40px;
	}

	.mobbot{
		margin-top: 30px;
	}
	#sectionA p{
		margin-top: 0;
		margin-bottom:none;
		font-size: 12.5px;
		font-weight:normal !important;
	}

	.ppptt {
		margin-bottom: 10px !important;
		font-size: 15px !important;
	}

	.infono{
		display: none;
	}


	.h5new {
		padding-top: 16px !important;
	}

	#sectionA .col-md-6 p {
		font-size: 14px;
		line-height: 20px !important;
		color: #6c757d!important;
		font-family: Century Gothic;
		text-align: left;
	}

	.pdf_section .card img {
		height: auto !important;
	}

	.pdf_section .card-body {
		flex: 1 1 auto;
		min-height: 1px;
		padding: 0.5rem !important ;
		border-top: 1px solid #dfdfdf;
	}

	.pdf_section .card-body h2 {
		font-weight: 600;
		font-size: 14px !important;
	}

	.hideli{
		display:block !important;
		padding-left: 20px;
	}

	.hideli a{
		font-size: 12px !important;
	}
	.innermenu a{
		font-size: 12px !important;
	}

	.number_count11 {
		font-family: arial!important;
		padding-top: 5px!important;
		color: #c5c7cae8;
		margin-top: 35px !important;
		font-weight: 600;
		padding-bottom: 0px;
		font-size: 14px !important;
		margin-bottom: 0px;
	}

	#quaters h3 {
		padding-bottom: 10px !important;
		font-weight: 600; 
	}

	.toppop{
		margin-top: 20px;
	}

	.techinn {
		margin-top: 25px!important;
	}

	#enquiry h3 {
		padding-bottom: 15px !important;
		font-weight: 600;
	}

	.imgpop{
		padding-bottom: 15px !important;
	}

	.ppopp{
		padding-top: 15px;
	}
    .pdfimg img {
		width: 34px !important;
	}
	.pdf_section .card .card-body i {
		font-size: 42px!important;
		padding-top: 19px;
		color: red;
	}

	.hidepp{
		display: none;
	}

	.hidebr{
		display: none;
	}
	.lopo{
		margin-top: 25px !important;
		margin-bottom: 10px !important;
	}

	.lopo1{
		margin-top: 10px !important;
	}

	.tab-pane .col-md-3 {
		padding-left: auto !important;
	}


	.imggo img{
		height: auto !important;
	}
}
.about .container{
	/*background: #f3f4f6!important;*/
	background: #f6f6f6a6!important;
	position: relative;
}
.about .carousel-indicators {
    transform: rotate(-180deg);
    -webkit-transform: rotate(-180deg);
    
    /* margin: auto; */
    /* top: 40%; */
	/* bottom: -40px; */

}
.h-12{
	height:275px;
	max-height:100%;
}

.imggo img{
	height: 335px;
}

.div_padding{
	padding:10px 30px 0px 30px;
}
/*
.about .carousel-indicators li {
    width: 12px;
    height: 12px;
	border-radius: 50%;
	background-color: rgb(141 136 128);
}*/
.about .carousel-indicators li {
    width: 12px;
    border: 1px solid lightgray;
    height: 12px;
    border-radius: 50%;
    /* background-color: #a7abaf; */
}

.section-1 .container{
	background: #fff!important;
	position: relative;
}
.section-1 .carousel-indicators {
    transform: rotate(-90deg);
    -webkit-transform: rotate(-90deg);
    right: auto;
    margin: auto;
    top: 40%;
    bottom: auto;
}
.section-1 .carousel-indicators li {
    width: 10px;
    height: 10px;
    border-radius: 50%;
}
.h5_heading{
	font-size: 20px;
    color: #231F20!important;
    font-family: arial!important;
    font-weight: 600;
    padding-top: 22px;
    line-height: 26px;
}
.h6_heading{
	font-size:20px;
    font-family: arial!important;
    color: #6c757d!important;
	line-height: 26px;
}
.p_heading{
	font-size: 16px;
	line-height: 26px;
    color: #6c757d!important;
    font-family: Century Gothic;
}
.number_count{
	 font-family: arial!important;
    padding-top: 5px!important;
    color: #a5a5a5;
}

.number_count1 {
    font-family: arial!important;
    padding-top: 10px!important;
    color: #a7abaf;
	font-size: 18px;
    padding-bottom: 0px;
    margin-bottom: 0px;
}

.section-1{
	padding:0;
	background:#f6f6f6;
}
.div_padding_1{
	padding:15px 30px 0px 30px;
}
.section-1 .div_padding_1 .jumbotron{
	padding:30px 30px 25px;
	border:none;
	border-radius: 0px;
	margin-bottom:10px;
	background: #e4e4e457;
}
.section-1 .div_padding_1 .jumbotron p{
	font-size: 16px;
    padding-top: 0px;
    color: #6c757d!important;
    font-family: Century Gothic;
	line-height: 25px;
	margin-top: -7px;
	margin-bottom: auto;
}
.section-1 .div_padding_1 .jumbotron img{
	padding-left:0px;
}
.section-2 {
	padding:0px;
	background:#f6f6f6;
	
	
}
.section-2 .container {
    background: #fff!important;
    position: relative;
}
#footer .footer-top{
	background:#4d5354;
}
#footer .footer-top .footer-links ul a{
	color:#d5d5d5;
	font-family: arial;
	font-size: 14px;
}
#footer .footer-top .footer-links ul a:hover{
	color:#d5d5d5;
}
#footer .footer-top .footer-links ul i{
	color:#d5d5d5;
	margin-left: -4px;
}
#footer .footer-top .footer-links ul li {
    padding: 5px 0;
}
#footer .footer-top h4{
	color: #ffc107!important;
	font-family: arial;
	font-size: 18px;
}
#footer .footer-top .footer-contact p{
	color: #d5d5d5;
	font-size: 14px;
	font-family: arial;
}
#footer .footer-top p{
	color: #d5d5d5;
    font-family: arial;
	font-size: 14px;
	line-height: 26px;
}
#footer .footer-top h5 {
    font-weight: bold;
    color: #d5d5d5;
    position: relative;
    padding-bottom: 12px;
	font-family: arial;
	font-size: 16px;
}
#footer .footer-newsletter form {
    margin-top: 30px;
    position: relative;
}
#footer .footer-newsletter input[type="email"]{
	background: #727176;
	border: 0;
    padding: 4px 8px;
}
#footer .footer-newsletter .search_icon{
	right: 57px;
    top: 0px;
    position: absolute;
    background: #989898;
    color: #d5d5d5 !important;
    padding: 7px;
    cursor: pointer;
}
#footer .footer-newsletter input::-webkit-input-placeholder {
  color: #d5d5d5;
}
#footer .social-links a {
    font-size:14px;
    display: inline-block;
    background:#585858;
	border: 1px solid #d5d5d5;
    color:#d5d5d5;
    line-height: 1;
    padding: 8px 0;
    margin-right: 4px;
    border-radius: 50%;
    text-align: center;
    width:30px;
    height:30px;
    transition: 0.3s;
}
#footer .social-links a:hover {
    background:none;
    color:#d5d5d5;
    text-decoration: none;
}
#footer {
    font-size: 14px;
    background:#313638;
    color: #f1f0f2;
}
#footer .bottom_link{
	padding-left:0px;
}
#footer .bottom_link li {
    padding: 5px 10px 0px 0;
    display: inline-flex;
}
#footer .bottom_link >li >a {
    color: #d5d5d5!important;
    text-decoration: none;
    font-size: 14px;
    font-family: arial;
}
.back-to-top i {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    width: 40px;
    height: 40px;
    border-radius: 50px;
    background:#4a4a4a;
    color: #fff;
    transition: all 0.4s;
}
.back-to-top i:hover {
    background: #333;
    color: #fff;
}
#header .logo {
    overflow: hidden;
    padding:20px 25px 12px 30px;
    background:none;
	
}
.nav-menu a:hover, .nav-menu .active > a, .nav-menu li:hover > a {
    color:#36343a;
    text-decoration: none;
}
.mobile-nav-toggle i {
    color: #333!important;
	border-radius:0px!important;
}
.ft_img{
	height:30px!important;
}
.pro_devices{
	padding-bottom:0px!important;
	padding-top:4px;
	margin-bottom:0px;
}
.mobile-nav-toggle {
    position: fixed;
    left:20px;
    top: 15px;
    z-index: 9998;
    border: 0;
    background: none;
    font-size: 32px;
    transition: all 0.4s;
    outline: none !important;
    line-height: 1;
    cursor: pointer;
    text-align: right;
}
.search_row{
	padding-top:40px;
}
.row_main {
    padding: 5px 10px;
}
.col-padding {
    padding: 5px;
}
.row_main .col-padding .h5_heading{
	font-size: 20px;
    color: #231F20!important;
    font-family: arial!important;
    font-weight: 600;
	padding-top:27px;
	line-height: 26px;
	padding-right: 10px;
}
.row_main .col-padding .h6_heading{
	font-size:20px;
    font-family: arial!important;
    color: #6c757d!important;
	line-height: 26px;
	padding-right: 10px;
}
.row_main .col-padding .p_heading{
	font-size: 16px;
	line-height: 26px;
    color: #6c757d!important;
    font-family: Century Gothic;
	padding-right: 10px;
}
.mb_switch{
	display:none;
}
.mt-7_1{
	margin-top: 3rem!important;
	
}
.mt-4_1{
	margin-top: 1rem!important;
	
}
.spacing{
	margin-top:20px;
}
@media (max-width: 992px){
	#header.header-scrolled, #header .header-container {
		background: #fff;
	}
	#header {
		/*box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);*/
		top: 0;
		background: #fff;
	}
	.mobile-nav-toggle {
		position: fixed;
		left: 30px;
		top: 5px;
		z-index: 9998;
		border: 0;
		background: none;
		font-size: 50px;
		transition: all 0.4s;
		outline: none !important;
		line-height: 1;
		cursor: pointer;
		text-align: right;
	}
	
}
@media (max-width: 768px) {
	.mb_switch {
		display: inline!important;
		font-size: 20px;
		color: #231F20!important;
		font-family: arial!important;
		font-weight: 600;
		padding-top: 20px;
		line-height: 26px;
	}
	#about_container {
		background: #fff!important;
		padding-top:85px;
	}
	.crossfade{
		/* display:none!important; */
	}
	#header .search_row {
		display:none!important;
	}
	#header .logo {
		overflow: hidden;
		padding: 12px 5px 5px 5px;
		background: none;
		margin-left: 0px!important;
	}
	#header .logo img {
		padding: 0;
		margin-top: -7px;
	}
	.div_padding , .div_padding_1{
		padding: 5px 0px 0px 0px;
	}
	.section-1 .div_padding_1 .jumbotron img {
		padding-left:0px;
	}
	.section-1 .div_padding_1 .jumbotron p {
		margin-top: 10px;
	}
	#footer .footer-newsletter .search_icon {
		right:0px;
		top: 0px;
		position: relative;
		background: #989898;
		color: #d5d5d5 !important;
		padding: 7px;
		cursor: pointer;
	}
}
@media (max-width: 576px) { 
	.mb_switch {
		display: inline!important;
		font-size:18px;
		color: #231F20!important;
		font-family: arial!important;
		font-weight: 600;
		padding-top: 20px;
		line-height: 26px;
	}

	.row_main1{
		padding: 0px 3px;
	}

	.bt_last{
		padding-bottom:20px;
	}
	#about_container {
		background: #fff!important;
		padding-top: 85px;
	}
	.row_main {
		padding: 0px 10px;
	}
	.crossfade{
		display:none!important;
	}
	#header .search_row {
		display:none!important;
	}
	#header .logo {
		overflow: hidden;
		padding: 12px 0px 5px 0px;
		background: none;
		margin-right: -43px;
	}
	#header .logo img {
		padding: 0;
		margin-top:0px;
		width:77%;
	}
	.number_count {
		font-family: arial!important;
		padding-top:5px!important;
		padding-bottom: 0px!important;
		color: #a5a5a5;
	}
	.text-warning {
		color: #17a2b8!important;
		line-height: 26px !important;
	}
	.content {
		position: absolute;
		background: none;
		color: #f1f1f1;
		top: 20% !important;
		left: 17% !important;
		transform: translate(-50%,-50%);
		outline: aliceblue;
	}

	.footpad {
		padding: 0px 0px !important;
	}
	.trimob img{
		margin-top: 51px !important;
		width: 43px !important;
	}
	.modal-content {
		background-color: #fefefe;
		margin: auto;
		padding: 20px;
		border: 1px solid #888;
		width: 100% !important;
	}
	
	.nc{
		padding-top:5px!important;
	}
	
	.mobile-nav-toggle {
		position: fixed;
		left:10px;
		padding:0px;
		top: 15px;
		z-index: 9998;
		border: 0;
		background: none;
		font-size: 32px;
		transition: all 0.4s;
		outline: none !important;
		line-height: 1;
		cursor: pointer;
		text-align: right;
	}
	.div_padding , .div_padding_1{
		padding: 5px 0px 0px 0px;
	}
	.section-1 .div_padding_1 .jumbotron img {
		padding-left:0px;
	}
	.section-1 .div_padding_1 .jumbotron p {
		margin-top: 10px;
	}
	#footer .footer-newsletter .search_icon {
		right:0px;
		top: 0px;
		position: relative;
		background: #989898;
		color: #d5d5d5 !important;
		padding: 7px;
		cursor: pointer;
	}
	.h5_heading {
		font-size: 18px;
		color: #231F20!important;
		font-family: arial!important;
		font-weight: 600;
		padding-top:15px;
		padding-bottom:0px!important;
		margin-bottom: 4px;
		line-height: 26px;
	}
	.h6_heading {
			font-size: 17px;
			font-family: arial!important;
			color: #6c757d!important;
			line-height: 21.8px;
	}
	.p_heading {
		font-size: 12.5px !important;
		line-height:20px;
		color: #6c757d!important;
		font-family: Century Gothic;
	}
	.mt-7_1{
		margin-top:0px!important;
	}

	.mobin2{
		padding-top: 85px !important;
	}
	
	.mt-4_1{
		margin-top:0px!important;
	}
	
	.mt-7_2{
		margin-bottom:.5rem!important;
	}
	.multiple_c{
		padding-top:5px!important
	}
	.pro_devices{
		padding-top:0px!important
	}
	.spacing{
		margin-top:5px;
	}

  #sec-co .row{
	padding: 0px 15px !important;
  }

  #sectionA .container .row {
    padding: 0px!important;
}

#sectionA .container {
    background-color: white;
    padding: none!important;
}

#sec-co .row h3{
	padding:0px 2px!important;
}

#sec-co .row h2{
	padding:0px 2px!important;
}

	.spacing_2{
		padding-bottom:0px;
		margin-bottom:0px!important;
	}
	.spacing_3{
		padding-bottom:0px;
		margin-bottom:10px!important;
	}
	.spacinging{
		margin-bottom:20px;
	}
	.ft_img{
		height:30px!important;
	}
	#footer .footer-top {
		padding: 35px 0 30px 0;
	}
}
@media(min-width:300px) and (max-width:450px){
	.h5_heading{
		font-size:20px;
	}

	
	
	.spacinging{
		margin-bottom:10px;
	}
	.mt-7_1 .h5_heading{
		padding-top: 0%;
		margin-top: 18px;
		margin-bottom: 5px !important;
	}
	.mt-7_1 .h6_heading{
		font-size: 17px;
		line-height: 21.8px;
		margin-bottom: 10px;
		width: 97%;
	}
	.mt-7_1 .p_heading{
		font-size: 12.5px;
		line-height: 20px;
		margin-bottom: 2px;
	}
	.mt-7_2{
		margin-bottom: 0% !important;
	}
	.div_padding_1, .div_padding{
		/* padding-top: 0%; */

	}
	.div_padding_1 .jumbotron{
		padding: 30px 22px 10px !important;
		height: 526px !important;
		
		
	}
	.number_count{
		margin-bottom: 10px !important;
		font-size: 15px !important;
	}
	.div_padding_1 .jumbotron p{
		margin-top: 20px !important;
		font-size: 12.5px !important;
		line-height: 20px !important;
		
	}
	.number_count {
		margin-bottom: 15px !important;
		font-size: 12.5px !important;
		margin-top: -10px;
	}
	#extra{
		display: none;
	}
	
	#one{
		margin-bottom:0% !important;
	}
	#two{
		margin-top: 0% !important;
	}
	#carouselExampleInterval{
		margin-top: 15px !important;
	
	}
	#carouselExampleInterval2{
		margin-top: 15px !important;
	}
	#image img{
		height: 260px;
	}
	#heading{
		padding-top: 0% !important;
		margin-top: 32px;
		margin-bottom: 15px;
	}
	.col-padding{
		padding-top: 0%;
		padding-bottom: 0%;
	}
	.row_main .col-padding .h5_heading{
		font-size:18px;
		color: #231F20!important;
		font-family: arial!important;
		font-weight: 600;
		padding-top: 20px;
		line-height: 26px;
		padding-right: 10px;
		height: 75px;
	}
	.row_main .col-padding .h6_heading{
		margin-top: 5px !important;
		font-size: 17px;
		line-height: 21.8px;
		margin-bottom: 10px !important;
		width: 97%;
		height: 105px;
	}
	 .h6_heading2{
		margin-top: 5px !important;
		font-size: 17px;
		line-height: 21.8px;
		width: 97%;
		height: 125px;
	}

	.row_main .col-padding .h6_heading2 {
		font-family: arial!important;
		color: #6c757d!important;
		padding-right: 10px;
		font-size: 17px !important;
		line-height: 21.8px !important;
	}
	.row_main .col-padding .p_heading{
		font-size: 12.5px;
		line-height: 20px;
		margin-bottom: 15px !important;
	}
	#heading1{
		margin-bottom: 0% !important;
		padding-top: 0% !important;
		padding-bottom: 10px !important;
	}
	.multiple_c{
		padding-top: 0% !important;
	}
	#image2{
		margin-top: 15px;
		margin-bottom: 10px;
		height:220px;
	}
	#heading2{
		margin-top: 0% !important;
		padding-top: 0% !important;
		margin-bottom: 15px !important;
	}
	#row{
		margin-top: 0% !important;
	}
	.pro_devices{
		margin-bottom: 15px;
	}
	
}
.slider_block_section_0 {
    list-style: none;
    display: inherit;
    margin-top:50px;
    margin-left: -65px;
    margin-right: -45px;
}
.slider_block_section_0 li.content_div {
    color: #333;
    font-size: 10px;
}
.slider_block_section_0 li img {
    width: 135px;
}

.slider_block_section_0 li.content_div{
	margin-top:25px;
	color:gray!important;
	font-weight:bold;
	line-height: 12px;
	font-size:10px;
	font-family:arial;
}
.slider_block_section_0 li .slide_txt {
    color: #000!important;
    font-weight: bold;
    margin-left: -10px;
    font-family: arial;
}
@media(min-width:300px) and (max-width:450px){
	#sectionA .container .row{
		padding: 0px 0px!important;
	}

	.nested-carousel .carousel-control-next {
		right: -17px !important;
	}
    .quaters_section .p_heading{
        margin-bottom:5px!important;
    }
    .enquiry_section .form-group{
        margin-bottom:5px!important;
    }
	.nested-carousel .carousel-control-prev {
		left: -17px !important;
	}

	#enquiry input, #enquiry textarea{
		background-color: lightgray;
		border: none;
		width: 250px!important;
	}
	.dist_section .container{
	    padding-top: 30px!important;
	}
	.dist_section h3{
	    padding-bottom: 10px!important;
	}
	.dist_section .p_heading{
	    padding-top: 20px!important;
	}
	.textwarn22 {
        color: #17a2b8!important;
        line-height: 30px!important;
    }
    .space_area{
        padding-top:0px!important;
    }
	#sec-co .row {
		padding: 0px!important;
		}
	.nested-carousel{
		display: flex;
		justify-content: flex-end;
		position: absolute;
		z-index: 2;
		width: 88%!important;
		height: 100%;
		align-items: center;
	}
	
	#quaters .container {
		background-color: white;
		padding-top: 30px;
		padding-left: 17px!important;
	}

	#dist .container {
		background-color: white;
		padding-top: 30px;
		padding-left: 17px!important;
	}

	.mobile-nav .hideli li{
		line-height: 1 !important;
	}
	.content {
		position: absolute;
		background: none;
		color: #f1f1f1;
		top: 15%;
		left: 7%;
		transform: translate(-50%,-15%) !important;
		outline: aliceblue;
	}
	#enquiry .container {
		background-color: white;
		padding-top: 30px!important;
		padding-left: 17px!important;
	}
	.pdf_section .container{
		background-color: white;
		padding-right: 17px!important;
		padding-bottom: 20px;
		padding-top: 40px;
		padding-left: 17px!important;
	}
	#sectionA .container .col-md-6 {
		padding: 0px 20px;
		text-align: justify;
	}
	.slipc{
		margin-top:0px;
		color:#000000;
		font-size:10px;
		width:353px; 	
	}
	.slipcc{
		margin-top:-100px;}
	}

	#sectionA .container{
		
		background-color: white;
		
	}

	#sectionA .container .col-md-6{
		padding: 15px;
		padding-top: 0px;
		text-align: justify;
		padding-bottom: 0px;
	}

	

	#sectionA .col-md-6 p{
		font-size: 16px;
		line-height: 26px;
		color: #6c757d!important;
		font-family: Century Gothic;
		text-align: left;
	}

	#sec-co .container{
		background-color: white;
		padding:20px 15px;
		margin-top: 0px;
		padding-top: 40px;
	}

	#sectionA h3{
		font-size: 20px;
		color: #231F20;
		font-family: arial!important;
		font-weight: 600;
		line-height: 26px;
	}
	
}
#sectionA img{
	width: 100%;
}

#sectionA .col-md-6 h2{
	font-size: 16px;
}
#sectionA .col-md-3 h3{
	padding: 10px 0px;
}
#sectionA .col-md-12 h3{
	padding: 0px 0px;
	padding-top: 2px;
	font-size: 20px;
}
#sectionA .col-md-3 h2{
	font-size: 16px;
}

#cubetab {
	padding-top: 0px;
}
#cubetab button{
	margin: 10px 24px;
	width: 130px;
	height: 50px;
	border:1px solid #a7abaf;;
	margin-bottom: 6px;
}

#cubetab button:hover{
	border: none;
}

#cubetab button {
	transition: transform .2s;
  }
  
  #cubetab button:hover {
	-ms-transform: scale(1.5); /* IE 9 */
	-webkit-transform: scale(1.5); /* Safari 3-8 */
	transform: scale(1.1); 
  }
	
.nav-tabs {
     border-bottom: none; 
	 padding-bottom: 25px;
}

 hr{
    margin-bottom: 1rem;
    border: 0;
    border-top: 2px solid rgb(214 213 213);
}

#sectionA .container .row{
	padding: 0px 28px;
}
.textzz{
	display: block;
	font-size: 16px;
}

/*PAGE _5/*/
#sec-co{
	background-color: #f6f6f6;
padding: 0px;
}

#sec-co .carousel-control .glyphicon-chevron-right, .fa-angle-right, .carousel-control .icon-next {
    right: 45%;
    margin-right: -20px;
}
#sec-co .container{
	background-color: white;
}

#sec-co .row{
	padding: 0px 45px;
}
}
.inner_carousel {
	width: 100%;
	height: 500px;
	text-align: center;
  }

  .headbx{
	  margin-top: 20px;
  }
 
  .tab-pane1 img {
	background-color:none;
	width: 300px;
	
  }
  .tab-pane2 img {
	background-color: none;
	width: 300px; 
	
  }
  .tab-pane3 img {
	background-color:none;
	width: 300px; 
	
  }
  #sectionA img{
	  width: 100%;
  }
#sectionA p{
	margin-top: 0;
    margin-bottom: 1rem;
    font-size: 16px;
    font-weight: 500;
}

   /* page 6/*/
 .pdf_section {
	  padding: 0px;
	  background-color: #f6f6f6;
  }

  .pdf_section .card .card-body i{
	font-size: 62px;
    padding-top: 19px;
    color: red;
}

.pdf_section .container{
	background-color: white;
	padding: 30px;
	padding-bottom: 20px;
	padding-top: 40px;
	padding-left: 45px;
}

.pdf_section.col-md-6{
	padding:0px;
    padding-bottom: 20px;
  }

/*page no.7/*/
#quaters{
	background-color: #f6f6f6;
	padding: 0px;
	
}
#quaters .container{
	background-color: white;
    padding-top: 65px;
    padding-left: 45px;
}

#enquiry .container{
	background-color: white;
	padding-top: 60px;
	padding-left: 45px;
}

#enquiry{
	background-color: #f6f6f6;
	padding: 0px;
	
}

#enquiry label {
    display: inline-block;
    padding-right: 11px;
}

#enquiry input{
	background-color: #f6f6f6;
    border: none;
    width: 500px;
	height: 30px;
}
#enquiry textarea{
	background-color: #f6f6f6;
    border: none;
    width: 500px;
	height: 75px;
}
#enquiry .msg{
	padding-right: 30px;
}
#enquiry .msg label{
	display: block;
	margin-bottom: .5rem;
    padding-right: 11px;
}

#enquiry .msg input{
	background-color: lightgray;
    border: none;
	height: 250px;
}

#enquiry button {
    background-color: #1b3379;
    border: none;
    color: white;
    text-transform: uppercase;
    padding: 2px 20px;
    border-radius: 0px;
}

#dist .container{
	background-color: white;
	padding-top: 60px;
	padding-left: 45px;
	padding-bottom: 60px;
}

#dist{
	background-color: #f6f6f6;
	padding: 0px;
}

#dist img{
	width: 100%;
}

#enquiry input:hover{
	border: none;
}

#enquiry h3{
	padding-bottom: 30px;
	font-weight: 600;
	font-size: 24px;
}
#quaters h3{
	padding-bottom: 30px;
	font-weight: 600;
	font-size: 24px;
}

#dist h3{
	padding-bottom: 30px;
	font-weight: 600;
	font-size: 24px;
}

#dist p{
	padding-top: 30px;	
}

.nested-carousel{
	display: flex;
    justify-content: flex-end;
    position: absolute;
    z-index: 9;
	width: 91%;
    height: 100%;
    align-items: center;
}

.nested-carousel #carouselExampleControls{
	width: 30%;
}

.button-index{
	z-index: 3;
	align-items: flex-end;
    height: 97%;
    display: flex;
	width: 5%;
}
.clr-btn{
	background-color: red;
}

/* page 8/*/
#sectionA{
	background-color: #f6f6f6;
	padding: 0px 0px;
}


#sec-co .fa-2x {
    font-size: 4em;
    color: orange;
}

#sectionA .col-md-6 .card{
	border: none;
}

#sectionA .col-md-6 .card h3{
	padding-top: 5px;
}

#sec-co .col-md-12{
	padding: 0px;
}

.row_main1{
	padding: 0px 30px;
}

.h5new{
	padding-top: 33px;
	padding-bottom: 3px;
}

.ppnew{
	padding: 10px 0px 15px 0px;
    color: #6c757d;
    font-size: 18px;
    font-family: arial!important;
    font-weight: 500;
}

.nested-carousel .carousel-control-next {
    right: -44px;
	width: 17%;
}

.nested-carousel .carousel-control-prev {
    left: -44px;
    width: 17%;
}

.text-muted {
    color: #a7abaf!important;
}


.tab-pane .row{
	padding-left: 0px !important;
}

/*.tab-pane .col-md-3{
	padding-left: 8px;
}*/

.infono{
	margin-top:10px;
}

.pdf_section .card-body {
    flex: 1 1 auto;
    min-height: 1px;
    padding: 1.25rem;
    border-top: 1px solid #dfdfdf;
}

.number_count11 {
	font-family: arial!important;
    padding-top: 5px!important;
    color: #c5c7cae8;
    margin-top: 50px;
    font-weight: 600;
    padding-bottom: 0px;
    font-size: 22px;
    margin-bottom: 0px;
}



.pdf_section .card-body h2{
	font-weight: 600;
    font-size: 19px;
}

.btnform{
	padding-bottom:20px ;
	text-align: left;
	padding-top: 14px;
	font-family: Arial !important;
}

.h5gray{
	color: #a7abaf;
    font-size: 10px;
	margin: 0px;
}

.botin{
	padding-bottom: 28px !important;
}

.texton{
	padding-left: 55px !important;
}

.h6_heading2 {
    font-size: 20px;
    font-family: arial!important;
    color: #6c757d!important;
    line-height: 26px;
    padding-right: 10px;
}

.botin2{
	padding-bottom: 50px;
}

.c511in{
	font-size: 15px !important;
}
.pad-0{
	padding-right: 0px;
	padding-left: 5px;
}
.spanwhite{
	font-weight: 500; 
	color: #c6cace;
	text-transform: capitalize;
}

.ppptt{
	margin-bottom: 10px !important;
}

.barpad{
	padding-left: 0px !important;
} 

.barpad img{
	width: auto !important;
}

.barinro{
	padding: 15px;
}

.barcolin{
	padding-right: 0px;
}

.arrow22 img{
	width: 30px;
}

.arrow11 img{
	width: 22px;
}

.msginn{
	margin-bottom: 10px;
    background-color: #f6f6f6;
    border-radius: 0px;
	border: none;
}

.catimg{
	padding-top: 26px !important;
}

.cubetab button:focus {
     outline: none;
}

.dropdown ul{
	display: none;
}

.dropdown:hover ul{
	display: block;
	position: absolute;
    background: white;
	margin-top: 5px;
}
.dropdown ul a{
	padding:10px;
	line-height: 3px;
	font-size: 14px;
}

.toppad{
	padding-top: 14px;
}

.imgtopp{
	padding-top: 15px;
}

.pt-30{
	padding-top: 30px;
}

.hideli{
	display: none;
}

.inmenu{
	width: 500px;
}

.txtbold{
	font-weight: 800 !important;
}
.h5_heading a:hover {
    font-size: 20px;
    color: #52748C!important;
    font-family: arial!important;
    font-weight: 600;
    padding-top: 20px;
    line-height: 26px;
}
.h5_heading a {
    font-size: 20px;
    color: black!important;
    font-family: arial!important;
    font-weight: 600;
    padding-top: 20px;
    line-height: 26px;
}
.picblur img:hover{
	opacity: 0.8;
	transition: 0.3s ease;
	background-color: black;
}

video::-webkit-media-controls-fullscreen-button {
    display: none !important;
}
video::-webkit-media-controls {
	display:none !important;
}
.nav-menu a:hover{
    display: block;
    position: relative;
    color: #36343a;
    padding: 10px 15px;
    transition: 0.3s;
    font-size: 16px;
    font-weight: 600;
    text-transform: capitalize;
    font-family: Century Gothic;
}
.orangeryt img{
	width: 43px !important;
    top: 86% !important;
	background-color: transparent !important;
	border-radius: 0px !important;
}


/*********************** Demo - 5 *******************/
.box5:hover{background:black;position:relative}
.box5:after,.box5:before{width:50px;height:50px;border-radius:50%;background:#10a5b8;position:absolute;top:-80px;left:15px;opacity:0;z-index:1;transition:all .35s ease}
.box5:after{top:auto;left:auto;bottom:-80px;right:15px}
.box5:hover:after,.box5:hover:before{opacity:.75;transform:scale(8);transition-delay:.15s}
.box5 img{width:100%;height:auto;transition:all .35s ease-out 0s}
.box5:hover img{opacity:.4}
.box5 .icon{margin:0;position:absolute;bottom:15px;right:15px;z-index:2;transform:scale(0);transition:all .35s ease-out}
.box5:hover .icon{transform:scale(1);transition-delay:.15s}
.box5 .icon li a{display:block;width:35px;height:35px;line-height:35px;background:#fff;font-size:18px;color:#444;margin-right:10px;position:relative;transition:all .5s ease 0s}
.box5 .icon li a:hover{background:#444;color:#fff}
.box5 .box-content{padding:20px 15px;position:absolute;top:0;left:0;z-index:1}
.box5 .title{font-size:20px;font-weight:800;color:#fff;margin:0 0 5px;opacity:0;transform:translate(-20px,-20px);transition:all .35s ease-out}
.box5:hover .title{opacity:1;transform:translate(0,0);transition-delay:.15s}
.box5 .post{display:inline-block;font-size:16px;color:#fff;opacity:0;transform:translate(-20px,-20px);transition:all .35s ease-out}
.box5:hover .post{opacity:1;transform:translate(0,0);transition-delay:.15s}
.box6 .title,.box6 img,.box6:after{transition:all .35s ease 0s}
@media only screen and (max-width:990px){.box5{margin-bottom:0px}
}

.homein .carousel-indicators li {
    box-sizing: content-box;
    -ms-flex: 0 1 auto;
    flex: 0 1 auto;
    width: 2px;
    height: 10px;
    margin-right: 5px;
    margin-left: 6px;
    text-indent: -999px;
    cursor: pointer;
    background-color: #fff;
    background-clip: padding-box;
    opacity: 1;
    transition: opacity .3s ease;
}

.homein .carousel-indicators.active li{
	height: 22px;
}
.homein .carousel-indicators .active {
    background: black;
	height: 27px;
    overflow: hidden;
	margin-top: -15px;
}


.footpad{
	padding: 0px 28px;
}
.homein .carousel-indicators {
    position: absolute;
    right: 0;
    bottom: 140px;
    left: 0;
    z-index: 15;
    display: -ms-flexbox;
    display: flex;
    justify-content: center;
    padding-left: 0;
    margin-right: 15%;
    margin-left: 15%;
    list-style: none;
}


#myVideo {
  position: relative;
  right: 0;
  bottom: 0;
  min-width: 100%; 
}

.content {
  position: absolute;
  background: none;
  color: #f1f1f1;
  top: 15%;
    left: 7%;
  transform: translate(-50%,-50%);
  outline: aliceblue;
}

#myBtn {
  font-size: 34px;
  padding: 16px 26px;
  background: transparent;
  color: orange;
  cursor: pointer;
  border: none;
  border-radius: 50%;
}
#myBtn:focus{
	outline: aliceblue !important;
}
#myBtn:focus-visible {
    outline: aliceblue !important;
}
#myBtn:hover {
  background: transparent;
  color: orange;
  border: none;
}

.btn-view-more{
	background-color: transparent;
	border: none;
}
.content img{
	width: 26px;
}
.content img:hover{
	width: 30px;
}
.btn-view-more:focus{
	outline: aliceblue !important;
}
.btn-view-more:focus-visible {
    outline: aliceblue !important;
}

.pdfimg img{
	width: 50px;
	height: auto;
	margin-top: 10px;
}
.pdf_section .card:hover {
    box-shadow: #dee2e6 5px 5px;
}

.pr-35{
	padding-right: 35px !important;
}
#footer .footer-top .footer-links ul a:hover {
    color: #52748C;
    font-family: arial;
    font-size: 14px;
}
#footer .footer-top a:hover h5{
	color: #52748C;
}
#footer .footer-top a:hover h4 {
	color: rgb(192, 135, 28) !important;
}
.pdf_section .card {
     border-radius: 0px !important;
	 margin-bottom: 30px;
}

.bordimg img{
	border: 1px solid #c1c1c1;
}

.alwayson {
	opacity: 1;
}
.zoom {
	transition: transform .1s;
	margin: 0 auto;
}
  
.zoom:hover {
	-ms-transform: scale(1.5); /* IE 9 */
	-webkit-transform: scale(1.5); /* Safari 3-8 */
	transform: scale(1.1); 
}

.zoomcat {
	transition: transform .1s;
	margin: 0 auto;
}
  
.zoomcat:hover {
	-ms-transform: scale(1.01); /* IE 9 */
	-webkit-transform: scale(1.01); /* Safari 3-8 */
	transform: scale(1.01); 
	transform-origin: left bottom;
}

/* .flash:hover .alwayson img {
	opacity: 1;
	-webkit-animation: flash 1s;
	animation: flash 1s;
}

@-webkit-keyframes flash {
	0% { opacity: .03; }
	100% { opacity: 1; }
}
@keyframes flash {
	0% { opacity: .03; }
	100% { opacity: 1; }
}* /

/* The Modal (background) */
.modal {
	display: none; /* Hidden by default */
	position: fixed; /* Stay in place */
	z-index: 10000; /* Sit on top */
	padding-top:0px; /* Location of the box */
	left: 0;
	top: 0;
	width: 100%; /* Full width */
	height: 100%; /* Full height */
	overflow: auto; /* Enable scroll if needed */
	background-color: rgb(0,0,0); /* Fallback color */
	background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* Modal Content */
  .modal-content {
    background-color: #fefefe;
    margin: auto;
    margin-top: 20px !important;
    padding: 0px;
    /* border: 1px solid #888; */
    width: 50%;
    /* height: 537px; */
    margin-top: 5%;
}
  
  .close {
    color: #5d7387;
    float: right;
    font-size: 35px;
    font-weight: bolder;
}
  
  .close:hover,
  .close:focus {
	color: #000;
	text-decoration: none;
	cursor: pointer;
  }

  .modal.show .modal-dialog {
    -webkit-transform: none;
    transform: none;
    margin: 0px;
}
.modal-dialog {
    margin: 1.75rem auto;
    max-width: 2000px;
}
.modal{
	padding-right: 0px !important;
}
.modal-header .close {
    padding: 0px;
    margin: -1rem -1rem -1rem auto;
    border: none !important;
}
.sec-title span{
	padding: 0px !important;
}
.modal-header {
	background-color: black;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: start;
    align-items: flex-start;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding:0px;
    border-bottom: none;
    border-top-left-radius: calc(.3rem - 1px);
    border-top-right-radius: calc(.3rem - 1px);
}
.text-warning {
    color: #ffc107!important;
    line-height: 43px;
}
.textwarn22{
	color: #17a2b8!important;
    line-height: 43px;
}
a.text-warning:focus, a.text-warning:hover {
    color: #0f6674!important;
}

.homein:hover .carousel-indicators .active {
    -webkit-animation-name: bounce; 
    animation-name: bounce;
    -webkit-animation-duration: 1s;
    animation-duration: 2s; 
}
.homein:hover .carousel-indicators button {
    -webkit-animation-name: bounce; 
    animation-name: bounce;
    -webkit-animation-duration: 1s;
    animation-duration: 2s; 
}
.bouncy:hover .alwayson img {
    -webkit-animation-name: bounce; 
    animation-name: bounce;
    -webkit-animation-duration: 1s;
    animation-duration: 2s; 
}
@keyframes bounce { 
    0% {transform: translateY(-25%);}
    20% {transform: translateY(15%);}
    40% {transform: translateY(-15%);}
    60% {transform: translateY(5%);}
    80% {transform: translateY(-5%);}
    100% {transform: translateY(0%);}
}
.carousel-inner > .item {
	opacity: 0;
	top: 0;
	left: 0;
	width: 100%;
	display: block;
	position: absolute;
	z-index: 0;
	-webkit-transition: opacity 5s ease;
		 -o-transition: opacity 5s ease;
			transition: opacity 5s ease;
	-webkit-transform: translate3d(0, 0, 0) !important;
			transform: translate3d(0, 0, 0) !important;
  }
  .carousel-inner > .item:first-of-type {
	position: relative;
  }

.carousel-inner > .active {
	opacity: 1;
	z-index: 3;
  }
  .carousel-inner > .next.left,
  .carousel-inner > .prev.right {
	-webkit-transition: opacity 0.6s ease-in-out;
		 -o-transition: opacity 0.6s ease-in-out;
			transition: opacity 0.6s ease-in-out;
	opacity: 1;
	left: 0;
	z-index: 2;
  }
  .carousel-inner > .active.left,
  .carousel-inner > .active.right {
	z-index: 1;
  }
  .carousel-control {
	z-index: 4;
  }

.modal-body {
    position: relative;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    padding: 0px;
}

.modal-header button {
	margin: 0px 5px;
	
}
.mobile-nav a:hover, .mobile-nav .active > a, .mobile-nav li:hover > a {
    color: #17a2b8 !important;
    text-decoration: none;
}
.h3effect {
    padding: 0px 0px;
    padding-top: 2px;
    font-size: 20px;
    color: transparent !important;
    background-image:linear-gradient(to left, #f4f5f6,#d7d9db,#000000,#d7d9db);
    -webkit-background-clip: text;
    animation: animate 4s linear infinite;
    -webkit-background-size: 500%;
    background-size: 500%;
}
.bolda a{
	font-weight: 600;
}
.pt-10{
	padding-top: 10px;
}
@keyframes animate{
	0%{
		background-position: 0 100%;
	}
	50%{
		background-position: 100% 0;
	}
	1000%{
		background-position: 0 100%;
	}
}
.pdf_section a{
	color: #444444;
}
.col-form-label {
    padding-top: calc(0.375rem + 1px);
    padding-bottom: calc(0.375rem + 1px);
    margin-bottom: 0;
    font-size: inherit;
    line-height: 15px;
}
.fixed_btn{
    z-index: 999;
    padding: 0;
    margin: 0;
    position: fixed;
    list-style:none;
    top:25%;
    right:0px; 
    display:none;
}

.fixed_btn li {
    margin: 0 1px 1px 0;
}
.fixed_btn li a img{
   height:45px;
}
